################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ApiDictionary/v15
/ApiDictionary/bin/Debug/netcoreapp2.1
/ApiDictionary/obj/Debug/netcoreapp2.1
/ApiDictionary.Model/bin/Debug/netcoreapp2.1
/DataAccess/bin/Debug/netcoreapp2.1
/DataAccess/obj/Debug/netcoreapp2.1
/ApiDictionary.Model/obj/Debug/netcoreapp2.1
/ApiDictionary.Test/bin/Debug/netcoreapp2.1
/ApiDictionary.Test/obj/Debug/netcoreapp2.1
/ApiDictionary.Test/obj
/.vs/ApiDictionary/DesignTimeBuild
/ApiDictionary/obj/Container
/Criteria/bin/Debug/netcoreapp2.1
/Criteria/obj/Debug/netcoreapp2.1
/Criteria/obj
/.vs
/ApiDictionary/obj/Release/netcoreapp2.1
/ApiDictionary.Model/obj/Release/netcoreapp2.1
/DataAccess/obj/Release/netcoreapp2.1
